@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.theme-subdomain1 {
  background-color: #FF5733;
  color: #FFC300;
}

.theme-subdomain2 {
  background-color: #33FF57;
  color: #339FFF;
}

.theme-default {
  background-color: #555555;
  color: #888888;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
